.container.images {
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.images {
  width: 100%;
  padding: 80px 100px;
}

.images-best {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 30px;
}

.images-content {
  padding-right: 100px;
}

.images-content h1 {
  color: transparent;
  font-family: "Gloria Hallelujah", cursive;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.4;
  animation: fade-in-out 12s linear infinite;
}

@keyframes fade-in-out {
  0% {
    color: #fff;
    filter: hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  30%,
  70% {
    color: #fff;
    filter: hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: hue-rotate(0deg);
  }
}

.images-collage-art {
  font-size: 1.4rem;
  font-family: 600;
  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
}

.images-content p {
  font-family: inherit;
  font-size: clamp(0.8rem, 4vw, 1.1rem);
  color: #94a3b8;
  font-weight: 500;
  line-height: 1.6;
  margin: 30px 0 50px;
  text-align: justify;
}

.images-btn {
  padding: 1rem 4rem;
  font-size: clamp(0.8rem, 4vw, 1rem);
  font-weight: 600;
  background: transparent;
  color: #18d25f;
  border-radius: 0.5rem;
  border-bottom: 2px solid #18d25f;
  border-right: 2px solid #18d25f;
  border-top: 2px solid rgb(9, 199, 251, 0.7);
  border-left: 2px solid rgb(9, 199, 251, 0.7);
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
  cursor: pointer;
  outline-color: transparent;
  text-decoration: underline;
}

.images-btn:hover {
  border-top: 2px solid #18d25f;
  border-left: 2px solid #18d25f;
  border-bottom: 2px solid rgb(9, 199, 251, 0.7);
  border-right: 2px solid rgb(9, 199, 251, 0.7);
  box-shadow: rgb(9, 199, 251, 0.4) 5px 5px, rgb(9, 199, 251, 0.3) 10px 10px,
    rgb(9, 199, 251, 0.2) 15px 15px;
}

.images-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-cards-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  aspect-ratio: 3/4;
  background: linear-gradient(#fff2, transparent);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg)) translateY(calc(var(--y) * 1px))
    translateX(calc(var(--x) * -1px));
  transition: all 0.4s ease-in;
}

.images-cards-item img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.images-cards:hover .images-cards-item {
  margin: 0 10px;
  transform: rotate(0deg) translateY(0) translateX(0);
}

@media (max-width: 1400px) {
  .images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    grid-template-areas:
      "card-container"
      "intro-content";
    padding: 40px 60px 30px;
  }

  .images-content {
    grid-area: intro-content;
    padding-right: 0;
    text-align: center;
  }

  .images-cards {
    grid-area: card-container;
    margin-left: 40px;
  }

  .images-cards-item {
    max-width: 150px;
  }
}

.images-news-wrapper {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
.images-news {
  display: flex;
  padding: 90px 0 20px 0;
  max-width: 99999px;
  width: 150%;
}
.images-news-item {
  flex-basis: 360px;
  margin-right: 10px;
  position: relative;
  padding: 1rem;
  font-weight: 500;
  isolation: isolate;
  color: var(--color-white);
}
.images-news-item-body {
  display: grid;
  grid-template-columns: 15% 60% 20%;
  align-items: center;
  gap: 10px;
}
.images-news-item-body-img {
  max-width: 60px;
  margin: 0.5em 0;
}
.images-news-item-body-description h3 {
  font-size: 1em;
}
.images-news-item-body-description p {
  font-size: 0.8em;
}
