.biocard-avatar {
  height: auto;
  width: 150px;
  margin: 2rem 0 1rem 0;
  cursor: pointer;
  border-radius: 17px;
}
.biocard-avatar:hover {
  box-shadow: 0 0 3px 3px var(--color-primary);
  outline: 0;
}
