.file_image_wrapper {
  padding-bottom: 1rem;
}
.file_image_preview_wrapper {
  position: relative;
}
.file_image_preview_wrapper .icon {
  position: absolute;
  top: 6px;
  left: 6px;
  background: var(--color-bg);
  opacity: 0.7;
  border-radius: 1rem;
  padding: 4px 3px 0 3px;
}
