.container.music {
  display: flex;
  justify-content: center;
  min-height: 600px;
  color: var(--color-bg);
}

.music-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
}

.music-scroll p {
  font-family: "Tilt Neon", sans-serif;
  font-size: 9rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.3);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.music-scroll p:nth-child(1) {
  animation: scrolling-rtl 20s infinite linear;
  margin-bottom: 210px;
}

.music-scroll p:nth-child(2) {
  animation: scrolling-ltr 20s infinite linear;
}

@keyframes scrolling-rtl {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrolling-ltr {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.music-title {
  flex-basis: 30%;
  line-height: 1.7;
}
.music-title h1 {
  font-size: 4em;
  line-height: 1.2;
  color: transparent;
  font-family: "Gloria Hallelujah", cursive;
  font-size: clamp(2rem, 5vw, 3rem);
  animation: fade-in-out 12s linear infinite;
}

@keyframes fade-in-out {
  0% {
    color: #fff;
    filter: hue-rotate(0deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  30%,
  70% {
    color: #fff;
    filter: hue-rotate(360deg);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: hue-rotate(0deg);
  }
}

.music-body {
  flex-basis: calc(70% + 5rem);
  transform: translateX(5rem);
  color: #fff;
}
.music-body-item {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.music-body-item-img {
  max-width: 100px;
  margin: 0.5em 0;
}
.music-body-item-title h4 {
  font-size: 1.2em;
}
.music-body-item-title p {
  font-size: 0.8em;
}
